/.color_coded
/.ycm_extra_conf.py
*.pyc
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/matxin.pc
.deps/
*.swp
*.o
/src/fst2regex.pl
/src/html-deformat.cc
/src/matxin
/src/matxin-chunker
/src/matxin-deshtml
/src/matxin-desrtf
/src/matxin-destxt
/src/matxin-deswiki
/src/matxin-gen-inter
/src/matxin-gen-intra
/src/matxin-gen-modes
/src/matxin-gen-morf
/src/matxin-gen-move
/src/matxin-generate
/src/matxin-linearise
/src/matxin-preprocess-generate
/src/matxin-preprocess-transfer
/src/matxin-reformat
/src/matxin-transfer
/src/matxin-translator
/src/matxin-validate-modes
/src/matxin-xfer-adpos
/src/matxin-xfer-inter
/src/matxin-xfer-intra
/src/matxin-xfer-lex
/src/matxin-xfer-verb
/src/rtf-deformat.cc
/src/txt-deformat.cc
/src/wiki-deformat.cc
/stamp-h1
*.a
/src/test/deserialise-conll-u
